<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
      <title>Your travel planer</title>
      <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="./styles/style.css">
  </head>
  <body>
    <div class="app">
      <div class="headline">
          <h1>The world's greatest travel planner</h1>
      </div>
      <div class="input">
        <div>
          <label for="location">Enter your dream location here</label>
          <input type="text" id="location" placeholder="Enter travel location here">
        </div>
        <div>
          <label for="date">When will your adventure start?</label>
          <input type="date"  id="date" placeholder="Enter the start date"></input>
          <button id="generate" type = "submit"> Generate travel info </button>
        </div>
      </div>
      <div class="past">
          <p>Your past trips (click to display)</p>
          <ul id="pastTrips"></ul>
      </div>
      <div class="results">
        <h1>Your adventure in a nutshell</h1>
        <div id="entryHolder">
          <p>Your trip will be awesome! Here are some facts and impressions:</p>
          <p id="travel_date"></p>
          <p>A year ago the temperature looked like this:</p>
          <p id="temp_max"></p> 
          <p id="temp_min"></p>
          <p>Look how awesome it looks there:</p>
        </div>
        <div class="travelImage">
          <figure>
            <img id="picture" src="" alt="" style="width:100%">
            <figcaption id="caption"></figcaption>
          </figure>
        </div>
      </div>     
    </div>
  </body>
</html>